<html>
<head><title>test</title></head>
<body>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='BillMakeStyle.css')}}">
  <a id='HomeButton' href="{{ url_for('indexstuff') }}" target="_self">Home</a>
  <form action="{{ url_for('new_bill') }}" method="POST" name="myForm">
      <p><label for="title">Title:</label>
      <input type="text" name="title" id="title"></p>

      <p><label for="law">Law:</label>
      <p></p>
      <textarea  id='bill' name='bill' rows='4' cols='50'></textarea>

      <p><label for="pCoin">pCoin:</label>
      <input type="text" name="pCoin" id="pCoin"></p>

      <input value="Submit" type="submit" onclick="submitform()">
  </form>
  <script src="{{url_for('static',filename='jquery-3.1.0.js')}}"></script>
  <script type="text/javascript">
    function submitform(){
      var formData = JSON.stringify($("#myForm").serializeArray());
      $.ajax({
        type: "POST",
        url: "{{ url_for('new_bill') }}",
        data: formData,
        success: function(){},
        dataType: "json",
        contentType : "application/json"
      });
    }
  </script>
</body>
</html>